@font-face {
  src: url(../fonts/gotham-book.ttf);
  font-family: gotham-book; }
.container {
  background-color: #232728;
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1; }
  .container__nav {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 370px;
    position: relative;
    z-index: 4; }
  .container__second-nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0px;
    top: 0;
    transition: left 0.5s;
    width: 370px;
    z-index: 3; }
    .container__second-nav.open {
      left: 370px; }
  .container__main {
    position: relative;
    z-index: 2; }

.nav {
  border-right: 1px solid #e0b160;
  background-color: #232728; }
  .nav__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 216px 0 0 0;
    padding: 0 21px 0 25px; }
  .nav__link {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-family: gotham-book, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 31px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase; }
    .nav__link:hover {
      color: #e0b160; }
    .nav__link:hover::before {
      content: "";
      display: block;
      border-top: 1px solid #e0b160;
      position: absolute;
      left: -35px;
      width: 30px;
      top: 15px; }
    .nav__link:active {
      color: #fff; }

.second-nav {
  background-color: #232728;
  padding-right: 21px; }
  .second-nav::after {
    border-right: 1px solid #e0b160;
    content: "";
    position: absolute;
    right: 21px;
    top: 0;
    bottom: 0;
    width: 0; }

.main {
  padding: 9px 24px; }
  .main__section {
    margin-bottom: 17px; }

.section {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .section__img {
    height: 100%;
    width: 100%; }
  .section__header {
    box-sizing: border-box;
    padding: 0 0 40px 24px;
    width: 50%; }
    .section__header_closed {
      position: absolute;
      left: 0;
      bottom: 0; }
  .section__content {
    width: 50%; }
  .section__title-small, .section__title-large {
    color: #e0b160;
    display: block;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.45);
    font-family: gotham-book, Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  .section__title-small {
    font-family: gotham-book, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 3.5; }
  .section__title-large {
    font-size: 36px;
    line-height: 45px; }
  .section__text {
    color: #fff;
    font-family: gotham-book, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 39px; }
