.container{
    background-color: $bg_color;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;

    &__nav{
        flex: 0 0 auto;
        box-sizing: border-box;
        width: 370px;
        position: relative;
        z-index: 4;
    }

    &__second-nav{
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0px;
        top: 0;
        transition: left 0.5s;
        width: 370px;
        z-index: 3;
        &.open{
            left: 370px;
        }
    }

    &__main{
        //width: 80%;
        position: relative;
        z-index: 2;
    }
}